<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteHomepage" parallel="tests">
  <test name="Testgoogle">
    <classes>
      <class name="pk1.Mavenpro4.google"/>
    </classes>
  </test> <!-- Testgoogle -->
</suite> <!-- SuiteHomepage -->
